header{
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}
nav{
  border-right: 2px solid black;
float:left;
padding-right: 30px;
width:auto;
height:500px;
}
nav ol{
    list-style: none;
}
article{
  float: left;
  padding: 20px;
}
#shadow
{
  text-shadow:4px 7px #FFFF00;
  text-decoration: none;
}
h2{
  font-size: 50px;
  color: red;
}

.navigation ul, .navigation li{
  text-decoration: none
  list-style-type:georgian;
  display:inline-table;
  margin:0px 10px;
}


.navigation .houseTop{
  font-size: 15px;
  color: #5D7393;
  float:right;
  display:inline-block;
  text-decoration: none;
}
body{
  color: rgb(201, 76, 76);
}

#list{
  border-right: 2px solid black;
  float:right;
  padding-right: 400px;
  width:auto;
  height:500px;
}
